*{
    font-family: "Kanit", sans-serif;
}

.App{
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    overflow-y: hidden;
    /* cursor: none !important; */
}

body{
    background: linear-gradient(135deg, #08070b, #1a1a1f);
    overflow-x: hidden;
}

kbd{
    background-color: #8f9ba8;
    border-radius: 5px;
    color: #08070b;
    font-weight: bold;
    padding: 2px 4px;
}

::-webkit-scrollbar{
    display: none;
}
/* Custom scrollbar for the popup */
.popup-scroll {
    max-height: 70vh; /* Adjust based on your requirement */
    overflow-y: auto; /* Enable vertical scrolling when content overflows */
}

/* Custom styles for the scrollbar (you can customize the colors and size) */
.popup-scroll::-webkit-scrollbar {
    width: 8px;
}

.popup-scroll::-webkit-scrollbar-track {
    background: #1c191c;
}

.popup-scroll::-webkit-scrollbar-thumb {
    background-color: #4b4b4b;
    border-radius: 10px;
}